@import "style.css";


.nav-link{
    display: block;
    background: var(--cardbg);
    width: 170px;
    height: 25px;
    margin: 10px auto 10px auto;
    border-radius: 10px;
    text-decoration: none;
    
    font-family:ADLaM-Display;
    color: var(--txt);
    font-size: 1.05rem;
    line-height: 1.6;
    text-align: center;
}

.results{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}


.card {
    display: block;
    background: var(--cardbg);
    width: clamp(240px, 62dvw, 280px);
    max-height: 285px;
    padding-bottom: 10px;
    border-radius: clamp(25px, 5dvw, 40px);

    font-family:ADLaM-Display;
    transition-property: border-radius;
    transition-duration: .3s;
    transition-delay: .4s;
    -webkit-transition-property: border-radius;
    -webkit-transition-duration: .3s;
    -webkit-transition-delay: .4s;
    -moz-transition-property: border-radius;
    -moz-transition-duration: .3s;
    -moz-transition-delay: .4s;
    -o-transition-property: border-radius;
    -o-transition-duration: .3s;
    -o-transition-delay: .4s;
}
.card-constants{
    width: clamp(240px, 62dvw, 280px); 
}
.card-constants > img{
    background: var(--txt);
    width: 90%; 
    aspect-ratio: 16/9;
    margin: 4.5% 0 0 5%;
    border-radius: clamp(25px, 5dvw, 40px);
}

.grid-dy{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 4%;
}
.card p, .card h1{
    color: var(--txt);
    font-size: clamp(1.1rem, 4.6dvw, 1.2rem); 
    margin-left: 4.75%;
}
.card h1{
    margin: 5% 0 0 4.75%;
}
.rating{
    display: flex;
    margin: 0 5% 0 5%;
    height: 70px;
    flex-wrap: wrap;
}
.rating p{
    width: 35%;
    line-height: 2.4;
    margin: 0 0 0 5px;
}

.category{
    height: 30%;
    margin-top: 5%;
}
.category p{
    background: var(--accent);
    color: var(--pure);
    width: 100%;
    height: 100%;
    padding: 0 1px 0 4px;
    border-radius: 10px;
    margin: 0px;

    font-size: .85rem;
    line-height: 1.6;
}

.more-info{
    display: block;
    background: var(--accent);
    width: 80%;
    margin: auto;
    padding: 1px 2px 1px 2px;
    border-radius: 20px;
    
    color: var(--pure);
    font-size: 1.4rem;
    line-height: 1.6;
    text-align: center;
    cursor: pointer;
}

.card:has(.check:checked){
    border-radius: clamp(25px, 5dvw, 40px) clamp(25px, 5dvw, 40px) 0 0;
    transition-duration: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: 0s;
    -webkit-transition-delay: 0s;
    -moz-transition-duration: 0s;
    -moz-transition-delay: 0s;
    -o-transition-duration: 0s;
    -o-transition-delay: 0s;
}
.card:has(.check:checked) .card-variable{
    max-height: 1000px;
    box-shadow: 0 5px  3px var(--bg);
}
.card-variable{
    position: absolute;
    background: var(--cardbg);
    max-height: 0;
    width: clamp(240px, 62dvw, 280px);
    border-radius: 0 0 clamp(25px, 5dvw, 40px) clamp(25px, 5dvw, 40px);
    overflow: hidden;
    z-index: 5;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
}
.card-variable p{
    font-size: .85rem;
    width: auto;
    margin-right: 2%;
}

.infoRow{
    display: flex;
    word-break: break-all;
    margin-bottom: 5px;
    margin-left: 5%;
    
    align-items: center;
}
.infoRow a{
    color: var(--accent);
    font-size: .85rem;
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
    text-decoration: none;
    
}

.favorite{
    display: flex;
    margin: 4px 0 8px 0;
    justify-content: center;
}
.favorite button{
    background: var(--accent);
    width: 70%;
    padding: 7px 0 7px 0;
    border-radius: 20px;
    border: none;
    
    font-family:ADLaM-Display;
    color: var(--pure);
    font-size: 1.2rem;
    cursor: pointer;
}
    

@media(min-width: 620px){
    .ibecontainin{
        position: fixed;
        transform: translateY(20dvh);
        top: 0;
        left: 0;
        z-index: 41;
    }
    .functions{
        display: flex;
        background: var(--headfoot);
        width: 130px;
        padding: 8px 5px 8px 5px;
        border-radius: 0px 10px 10px 0px;
        flex-direction: column-reverse;
        gap: 10px;
        transition: border-radius .2s .1s;
    }
    .ibecontainin:has(#search:checked) .functions, .ibecontainin:has(#filter:checked) .functions{
        border-radius: 0px 10px 0px 0px;
        transition: .2s .3s;
    }
    .functions label{
        display: flex;
        background: var(--cardbg);
        width: 110px;
        padding: 5px 10px 5px 8px;
        border-radius: 10px;
        align-items: center;
        cursor: pointer;
        
        font-family:ADLaM-Display;
        color: var(--txt);
        font-size: 1.2rem;
    }
    .functions img{
        float: left;
        width: 30px;
        height: 30px;
        margin-right: 8px;
    }
    
    #searchBar{
        visibility: hidden;
        background: var(--txt);
        width: 0;
        height: 0;
        outline: none;
        border-radius: 0px 10px 10px 0px;
        
        font-family:ADLaM-Display;
        color: var(--pure);
        font-size: 1rem;
        transition: width .4s, height .2s .4s, visibility 0s .58s;
    }
    #search:checked ~ #searchBar{
        visibility: visible;
        width: clamp(270px, 20dvw, 360px);
        padding: 2px;
        padding-left: 4px;
        height: 1.3rem;
        transition: border-radius .2s .3s, visibility 0s, height .2s, width .4s .2s;
    }
    
    .ibecontainin:not(:has(#search:checked)) .filters{
        transform: translateY(-20px);
        transition: transform .1s .5s, visibility 0s .5s, width .35s .3s, max-height .3s;
    }
    .ibecontainin:not(:has(#search:checked)) #filter:checked ~ .filters{
        transition: transform .1s .5s, visibility 0s, width .35s, max-height .3s .35s;
    }
    .filters{
        visibility: hidden;
        background: var(--headfoot);
        width: 0px;
        max-height: 0px;
        padding: 8px 2px 8px 8px;
        border-radius: 0px 10px 10px 0px;
        overflow: hidden;
        
        font-family:ADLaM-Display;
        color: var(--txt);
        font-size: 1.05rem;
        transition: visibility 0s .5s, width .35s .3s, max-height .3s;
    }
    #filter:checked ~ .filters{
        visibility: visible;
        width: clamp(270px, 20dvw, 360px);
        max-height: 300px;
        transition: visibility 0s, width .35s, max-height .3s .35s;
    }
    .filters button{
        background: var(--bg);
        padding: 2px 5px 2px 5px;
        margin: 0 7px 10px 0;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
    
        font-family:ADLaM-Display;
        color: var(--txt);
        font-size: 1.1rem;
        transition: .4s ease-in-out;
        -webkit-transition: .4s ease-in-out;
        -moz-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
    }
    .ibecontainin:has(#search:checked) .filters{
        border-radius: 0px 0px 10px 0px;
        transition: visibility 0s .5s, width .35s .3s, max-height .3;
    }
    .ibecontainin:has(#search:checked) #filter:checked ~ .filters{
        transition: border-radius .2s .5s, visibility 0s, width .35s, max-height .3s .35s;
    }
    .ibecontainin:has(#filter:checked) #searchBar{
        border-radius: 0px 10px 0px 0px;
        transition: width .4s, height .2s .4s, visibility 0s .58s;
    }
    .ibecontainin:has(#filter:checked) #search:checked ~ #searchBar{
        transition: border-radius .2s .3s, visibility 0s, height .2s, width .4s .2s;
    }
}

@media(max-width: 620px){
    .functions{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
    .functions label{
        background: var(--cardbg);
        width: clamp(150px, 42dvw, 170px);
        height: 50px;
        border-radius: 13px;
    
        font-family:ADLaM-Display;
        color: var(--txt);
        font-size: 1.35rem; 
        line-height: 2.2; 
        text-align: center;
    }
    .functions img{
        float: left;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        margin: 3px 0 0 3px;
    }
    

    #search:checked ~ #searchBar{
        width: 75%;
        margin-left: 11%;
        margin-bottom: 20px;
        padding: 0 1% 0 1%;
        visibility: visible;
    }
    #searchBar{
        display: block;
        background: var(--txt);
        width: 0%;
        height: 35px;
        visibility: hidden;
        margin-left: 50%;
        border-radius: 12px;
        padding: 0;
    
        font-family:ADLaM-Display;
        color: var(--pure);
        font-size: 1.02rem;
        transition: .4s ease-in-out;
        -webkit-transition: .4s ease-in-out;
        -moz-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
    }
    #search:checked ~ #searchBar:focus{
        width: 85%;
        height: 36px;
        border-radius: 5px;
        margin-left: 6%;
        outline: 2px solid var(--cardbg);
    }

    .filters{
        display: block;
        background: var(--bg);
        width: 85%;
        max-height: 0;
        padding: 10px;
        margin: 0 auto 15px auto;
        border-radius: 7px;
        overflow: hidden;
        visibility: hidden;
        transition: .4s ease-in-out;
        -webkit-transition: .4s ease-in-out;
        -moz-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
    }
    #filter:checked ~ .filters{
        background: var(--cardbg);
        max-height: 100dvw;
        visibility: visible;
    }
    .filters button{
        background: var(--bg);
        padding: 2px 5px 2px 5px;
        margin: 0 7px 10px 0;
        border: 0;
        border-radius: 5px;
    
        font-family:ADLaM-Display;
        color: var(--bg);
        font-size: 1.1rem;
        transition: .4s ease-in-out;
        -webkit-transition: .4s ease-in-out;
        -moz-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
    }
    #filter:checked ~ .filters button{
        background: var(--txt);
        color: var(--pure);
    }
    .rats{
        margin-top: 10px;
    }
    .rats p{
        font-family:ADLaM-Display;
        color: var(--bg);
        font-size: 1.3rem;
    
        width: 145px;
        padding-top: 1px;
        border-top: 1px dashed var(--bg);
        transition: .4s ease-in-out;
        -webkit-transition: .4s ease-in-out;
        -moz-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
    }
    #filter:checked ~ .filters .rats p{
        color: var(--accent);
        border-top: 1px dashed var(--txt);
    }
}



@media(min-width: 500px){
    .rating img{
        margin-top: 7%;
        width: 28px;
        height: 28px;
    }

    .infoRow img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}
@media(max-width: 500px){
    .rating img{
        width: clamp(25px, 8.2dvw, 29px);
        height: clamp(25px, 8.2dvw, 29px);
    }

    .infoRow img{
        width: clamp(30px, 7dvw, 40px);
        height: clamp(30px, 7dvw, 40px);
    }
}
