@import "style.css";

.gap{
    height: 10dvh;
}
body:not(:has(.card)) .gap{
    height: 70dvh;
}

#savedGrid .favorite:not(:has(.remove-btn)){
    display: none;
}
#savedGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 90%;
    margin: 20px auto;
}

.info-container .infoRow{
    display: flex;
    visibility: visible;
}


.info-container img {
    width: 25px;
    height: 25px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.unsaved{
    background: var(--cardbg);
    font-family:ADLaM-Display;
    color: var(--txt);
    padding: 2px 8px 2px 8px;
    margin-bottom: 40dvh;
    border-radius: 10px;
    font-size: 1.3rem;
    text-align: center;
}

.card{
    display: box;
    background: var(--cardbg);
    width: clamp(240px, 65dvw, 280px);
    padding: 3px 0 3px 0;
    margin-bottom: 15px;
    border-radius: clamp(15px, 4dvw, 20px);

    font-family:ADLaM-Display;
}
.card h1{
    display: flex;
    width: 80%;
    border-bottom: 1px solid var(--txt);
    justify-self: center;
    justify-content: center;

    color: var(--accent);
    font-size: 1.5rem;
    text-align: center;
}
.desc-text{
    display: none;
}
.card p{
    width: 90%;
    margin-left: 5%;
    
    color: var(--txt);
    font-size: clamp(.8rem, 4dvw, .9rem);
}

.card-constants img{
    width: 90%;
    height: 140px;
    object-fit: cover;
    margin: 4.5% 0 0 4.75%;
    border-radius: clamp(15px, 4dvw, 20px);
}

.rating{
    display: flex;
}
.rating img{
    
}

.category{
    display: flex;
}
.category p{
    background: var(--accent);
    width: auto;
    color: var(--pure);
    padding: 0 8px 0 4px;
    border-radius: 10px;

    font-size: .85rem;
}


.infoRow{
    display: flex;
    word-break: break-all;
    margin-bottom: 5px;
    margin-left: 5%;
    
    align-items: center;
}
.infoRow a{
    color: var(--accent);
    font-size: .85rem;
    width: auto;
    margin-left: 2%;
    margin-right: 2%;
    text-decoration: none;
}

.remove-btn{
    display: block;
    background: var(--accent);
    width: 70%;
    padding: 7px 0 7px 0;
    margin: 5px auto 8px auto;
    border-radius: 20px;
    border: none;
    
    font-family:ADLaM-Display;
    color: var(--pure);
    font-size: 1.1rem;
    cursor: pointer;
}

@media(min-width: 728px){
    .gap{
        height: 40dvh;
    }
    .rating img{
        margin-top: 7%;
        width: 28px;
        height: 28px;
    }
    
    .infoRow img{
        width: 40px;
        height: 40px;
    }
}

@media(max-width: 500px){
    .rating img{
        width: clamp(25px, 8.2dvw, 29px);
        height: clamp(25px, 8.2dvw, 29px);
    }
    
    .infoRow img{
        width: clamp(30px, 7dvw, 40px);
        height: clamp(30px, 7dvw, 40px);
    }
}

